* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #650000;
  color: #e2dfd2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-left: 20px;
  margin-top: 20px;
  width: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  font-size: 15px;
  color: #e2dfd2;
}

.welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.welcome-banner h1 {
  font-size: 96px;
  color: #e2dfd2;
}

.welcome-banner p {
  font-size: 25px;
  color: #e2dfd2;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-content h4 {
  color: #e2dfd2;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  background-color: #e2dfd2;
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.signup-btn {
  background-color: #e2dfd2;
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.signup-btn:hover {
  opacity: 0.9;
}
.separator {
  height: 1px;
  border: none;
  width: 400px;
  opacity: 0.6;
  background-color: #727272;
}
.divider {
  color: #e2dfd2;
  margin: 20px 0;
  font-size: 14px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.social-btn {
  background-color: #e2dfd2;
  border: none;
  border-radius: 8px;
  padding: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.social-btn img {
  margin-right: 8px;
  height: 20px;
  background-color: transparent;
}

.terms {
  color: #e2dfd2;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.quotes {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent, black);
  padding: 20px 0;
}
.quotes-upper {
  margin-bottom: -20px;
}
.quotes-lower {
  background: linear-gradient(to bottom, #e2dfd2, #650000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role-button{
  width:300px;
  height: 70px;
  margin-top:20px;
  border-radius: 10px;
  background-color: #E2DFD2;
  font-weight: bold;
}
